.display__archived__notes {
  display: block;
  margin: auto;
  width: 90%;
  margin-top: 5%;
}

.no__archives__placeholder {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 10%;
}
.no__archives__placeholder > h1 {
  opacity: 0.3;
  text-align: center;
}
