.card__component {
  display: block;
  margin: auto;
  width: 40%;
  margin-top: 3%;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 1%;
}

.input__card {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5px;
}

.title__input,
.note__input {
  border: none;
  outline: none;
}

.title__component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#pinned {
  flex: 0;
}

.title__input {
  flex: 1;
  height: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.note__input {
  font-size: 1.1rem;
}

.customizations {
  margin-top: 20px;
}
